h1   {color: #782e3f; font-family: Tahoma; font-size: xxx-large;}
p    {color: #802f2f; font-family: Lucida Handwriting; text-align: right; font-size: large;}
img  {float: left;   width: 250px;
  height: 250px;
  border:2px solid #fff;
  background: url(img/duck.png) no-repeat;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:45px;
  -webkit-border-radius:45px;
  border-radius:45px;}
h2   {color: #692b39; font-family: Tahoma; font-size: xx-large;}
th {font-weight: bold; color: #141111;}
body {background-color: #ffe0e0; column-count: 2;}
